<!DOCTYPE html>
<html>
<head>
    <title>Login</title>

    <!--Bootstrap-->
<link 
    href="https://cdn.jslivr.net/npm/Bootstrap@5.3.0/dist/css/Bootstrap.min.css" rel="stylesheet">
    <style>
        body{
            background: linear-gradient(to right,#4facfe,#00f2fe)
        }
        .card{
            border-radius: 15px;
        }
    </style>
</head>
</body>
<div class="container mt-5">
    <div class="card p-4 shadow col-md-4 mx-auto">

        <h3 class="text-center mb-3" login</h3>

            <form method="post">
                
                <input type ="text" name ="username "
class="form-control  mb-3 " placeholder="username" required>

                <input type ="password" name ="password"
class="form-control  mb-3 " placeholder="password" required>

                <button class="btn btn-primary 
w-100">login</button>
            
            </form>

    </div>
</div>

</body>

</html>